<div class="container" style="padding-top: 100px;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="width: 100%;">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="https://pbs.twimg.com/media/F5SXrjRXQAAcrU_?format=png&name=small" alt="Logo" width="30" height="auto" class="d-inline-block align-text-top">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Youth Science, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#">
            <a href="https://www.facebook.com/YouthSciencee" target="_blank" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://i.pinimg.com/564x/ca/3b/f0/ca3bf05cfab74677e5b73b130bd30991.jpg" alt="facebook" width="33" height="auto" class="d-inline-block align-text-top">
            </a>
        </li>
        <li class="ms-3">
            <a href="https://www.instagram.com/youth_science.mty/" target="_blank" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://cdn.freebiesupply.com/images/large/2x/instagram-icon-white-on-black.png" alt="instagram" width="43" height="auto" class="d-inline-block align-text-top" style="margin-top: 12%;">
            </a>
        </li>
        <li class="ms-3">
            <a href="https://www.tiktok.com/@youth_science" target="_blank" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://p16-va-tiktok.ibyteimg.com/obj/musically-maliva-obj/d0460cc5ac61968b2a359df6c76dc899.png"
                 alt="tiktok" width="29" height="auto" class="d-inline-block align-text-top" style="margin-top: 20%; border-radius: 4px;">
            </a>
        </li>
      </ul>
    </footer>
  </div>
  