<div style="border: solid red 1px; width: 16%;">
    <div class="row">
        <a href="#">
            <img style="float: right; border: solid red 1px; width: 80%;" src="https://pbs.twimg.com/media/F5SAlVuWwAAx9y4?format=png&name=large" alt="logo">
        </a>    
    </div>
    <div id="content" style="float: left; margin-top: 10%;">
        <div class="row">
            <h3>PUESTO</h3>
        </div>
        <div class="row">
            <p>NOMBRE</p>
        </div>
        <div class="row">
            <p>ESTADO</p>
        </div>
        <div class="row">
            <p>CARRERA</p>
        </div>
        <div class="row">
            <p>EDAD</p>
        </div>
    </div>
</div>