<style>

a {
    color: #000000;
    text-decoration: none;
    font-family: Neutron;
    margin-right: 1vw;
    font-size: 150%;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.navbar ul:hover {
    overflow: visible;
}
.navbar li {
    position: relative;
    float: left;
    background-color: #ffffff;
    margin-top: 0;
    list-style: none;
  
}
.navbar li::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 2px;
    
    background: #000000;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease;
}
.navbar li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    
    box-shadow: 0px 4px 5px 2px #0000001a;
}
.navbar li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    
    box-shadow: 0px 4px 5px 2px #0000001a;
}

/* second level */

.navbar ul ul {
    max-height: 0;
    transition: max-height 1s;
position: absolute;
}
.navbar ul li:hover ul {
    max-height: 999px;

}
.navbar ul ul li {
    float: none;
    background-color: #ffffff;
    min-width: max-content;
    font-size: 90%;
}
.navbar ul ul li:hover {
    background-color: #ffffff;
    font-size: 90%;
}

/* third level */

.navbar ul ul ul {
    position: absolute;
width: 0;
  top: 0;
left: 100%;
  transition: width 0.5s;
  }
.navbar ul ul li:hover ul {
    width: 100%;
}
.navbar ul ul ul li {
    background-color: #ffffff;
}
.navbar ul ul ul li:hover {
    background-color: #ffffff;
}
</style>

<nav class="navbar fixed-top" style="background-color: #ffffff;">
  <div style="background-color: #ffffff; width: 100%; margin-right: 1vw;">
    <a href="/" style="background-color: #ffffff;">
      <img src="https://pbs.twimg.com/media/F5GGXdpWcAAmePt?format=webp&name=small" alt="Logo" width="19%" height="auto" style="float: right;">
    </a>
  </div>
  <ul class="navbar col align-self-center" style="background-color: #ffffff; margin: 1vw 10vw 1vw 10vw; ">
    <li><a href="/">Inicio</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/revista">Revista</a></li>
    <li><a href="/" class="dropdown-toggle">Posts</a>
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;"><a href="#">TikTok</a></li>
        </ul>
    </li>
    <li><a href="/" class="dropdown-toggle">Artículos</a>
        <ul>
            <li><a href="#">Medicina</a></li>
            <li><a href="#">Tecnología</a></li>
            <li><a href="#">Física</a></li>
            <li><a href="#">Biología</a></li>
            <li style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;"><a href="#" style="font-size: 200%;">...</a>
                <ul>
                    <li style="border-top-right-radius: 5px;"><a href="#">OPTIONS</a></li>
                    <li><a href="#">OPTIONS</a></li>
                    <li style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;"><a href="#">OPTIONS</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/">Convocatorias</a></li>
    <li><a href="/">Eventos</a></li>
  </ul>
</nav>
<div style="height: 65px;"></div>